:root {
  --bar-color: #577fbb;
  --link-color: rgb(96, 143, 219);
}
/* header */
header > nav {
  padding: 2em 3em 1em 3em;
}
.brand img {
  width: 50%;
  display: block;
}
.brand a, .brand a:visited, .brand a:hover {
  color: #fff;
  font-size: 300%;
  text-decoration: none;
}
/* scheme list */
.jskos-vue-itemList.schemes-list > div {
  display: inline-block;
  line-height: 4em;
  padding: 0;
}
.jskos-vue-itemList.schemes-list > div:hover {
  background: none;
}
.jskos-vue-itemList.schemes-list > div > span {
  white-space: nowrap;
  border: 1px solid #666;
  padding: 0.8em 1em;
  margin: 0.5em 0.8em;
}

.jskos-vue-itemList.schemes-list > div > span:hover {
  box-shadow: 3px 3px 3px #666;
  margin: 0.4em 0.6em 0.6em 0.4em; /* TODO: shift 0.1em upwards */
}
