@import "./base.css";

:root {
  --color-background: #5780C1;
  --color-primary: #5780C1;
  --color-text: #16181A;
  --color-text-on-dark: #f8fafc;
  --color-link: #2e5faf;
  --color-link-hover: #4d77ba;
  --color-button-background: #263D62;
  --color-button-hover: #2c4978;
  --color-button-text: var(--color-text-on-dark);
  --color-section-background-primary: #f8fafc;
  --color-section-background-secondary: #EAEAEA;
}

html, body, #app {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-section-background-primary);
}

#app {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto) 1fr auto;
  grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "main main"
    "main main"
    "footer footer";
}
/* Stretch site to fill full height */
/* @media only screen and (max-height: 99vh) {
  #app {
    grid-template-rows: auto repeat(4, 1fr) auto;
  }
} */

header, footer {
  background-color: var(--color-background);
  color: var(--color-text-on-dark);
}

header {
  grid-area: header;
  height: 12vh;
  min-height: 100px;
  max-height: 200px;
  padding: max(2vh, 17px) 5vw;
  /* Subgrid */
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "header_logo header_menu"
    "header_logo header_search";
}
@media only screen and (max-width: 550px) {
  header {
    grid-template-areas: 
      "header_logo header_menu"
      "header_search header_search";
  }
}
#header_logo {
  grid-area: header_logo;
}
#header_logo > img {
  height: 100%;
  max-height: 120px;
}
#header_menu {
  grid-area: header_menu;
  justify-self: end;
}
#header_search {
  grid-area: header_search;
  justify-self: stretch;
  padding-top: 5px
}
#header_search > input {
  width: 100%;
  padding: 4px 8px;
}

footer {
  grid-area: footer;
  height: 8vh;
  min-height: 65px;
  max-height: 120px;
  font-size: small;
  line-height: 1.1;
  padding: 1vh 5vw;
  /* TODO: Change from flexbox? */
  display: flex;
  align-items: center;
}
/* TODO */
footer .logo {
  flex: 0 1 20%;
  min-width: 100px;
  max-height: 50px;
  margin-right: 30px;
}

main {
  /* This is kind of a hack. If grid-area is defined, the "main" part is overflowing over the footer. */
  /* For some reason, this does not happen in ItemView. */
  /* grid-area: 2 / 1 / 6 / 3; */
  width: 100vw;
}

/* TODO */
header a, footer a {
  color: var(--color-text-on-dark);
  font-weight: bold;
}
header a:hover, footer a:hover {
  color: var(--color-text-on-dark);
  text-decoration: underline;
}

/* TODO: Fix section backgrounds */
.section {
  padding: min(calc(3vh + 2vw), 80px) max(8vw, 20px);
  background-color: var(--color-section-background-primary);
}
.section:nth-child(2n) {
  background-color: var(--color-section-background-secondary);
}

.section > h1, .section > h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

.selection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category-selection, .scheme-selection {
  display: inline-block;
  position: relative;
  color: var(--color-text);
  padding: 10px;
  margin: 8px;
  font-weight: bold;
}
.category-selection {
  border: 1px solid var(--color-text);
  border-radius: 3px;
  transition: 
    background-color 0.1s;
}
.category-selection:hover {
  background-color: var(--color-button-background);
  color: var(--color-text-on-dark);
}
.scheme-selection::before,
.scheme-selection::after {
  position: absolute;
  width: 15px;
  height: 100%;
  content: "";
  border: 1px solid black;
  transition: 
    width 0.2s;
}
.scheme-selection::before {
  left: 0;
  top: 0;
  border-right: none;
}
.scheme-selection::after {
  right: 0;
  bottom: 0;
  border-left: none;
}
.scheme-selection:hover {
  color: var(--color-text);
}
.scheme-selection:hover::before, .scheme-selection:hover::after {
  width: 100%;
}
