# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.js.*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.env

# Everything in config/ except for premade templates
config/*
!config/config.js
!config/uri.gbv.de
!config/rvk
!config/uri.gbv.de+coli-conc

# Will be symlinked dynamically
public/favicon.ico
