<header>
  <nav>
    <ul class="nav">
    <% if (host && hostLabel) { %>
      <li>
        <a href="//<%= host %>"><%= hostLabel %></a>
      </li>
    <% } %>
      <li>
        <a href="<%= root %>"><%= rootLabel || root %></a>
      </li>
      <!-- TODO: add vocid, if known -->
    </ul>
    <!-- TODO: add help and language selector -->
  </nav>
</header>
