<header>
  <nav>
    <ul class="nav">
      <li>
        <a href="<%= namespace.pathname %>"><%= namespace.pathname %></a>
      </li>
      <!-- TODO: add vocid, if known -->
    </ul>
    <!-- TODO: add help and language selector -->
  </nav>
</header>
