<%# start page included at root when no JSKOS data is looked up %>
<h2><%= title %></h2>
<div>
  <% if (locals.items?.length) { %>
  <ul>
    <% for (let item of items) { %>
    <li>
      <a href="<%= relativeUrl(item.uri) %>"><%= item.uri %></a>
    </li>
    <% } %>
  </ul>
  <% } %>
</div>
