<p>
 Diese Seite enthält eine experimentelle Liste von Terminologien (Normdateien, Thesauri, Klassifikationen, Gazeteers, Ontologien...), die im Rahmen der Forschungsdateninfrastruktur <a href="https://www.nfdi4objects.net/"> NFDI4Objects</a> (N4O) relevant sein könnten. Die Liste wird in <a href="https://bartoc.org/en/node/18961">BARTOC</a> verwaltet.
</p> 

<p>

</p>

<p>Die Liste kann <a href="https://bartoc.org/api/voc?partOf=http%3A%2F%2Fbartoc.org%2Fen%2Fnode%2F18961">JSKOS-Format<a> heruntergeladen werden und ist auch unter <a href="https://nfdi4objects.github.io/n4o-terminologies/">https://nfdi4objects.github.io/n4o-terminologies/</a> als Tabelle zu finden.</p>
